*

!LICENSE
!README.md
!conf/
!conf/**
!env.example/
!env.example/**
!compose.yml
!shell.nix
!.envrc

# orchestrator
!lab/
!lab/README.md
!lab/bun.lock
!lab/src/
!lab/src/**
!lab/package.json
!lab/tsconfig.json

!orchestrator/src/**
!orchestrator/*
!tui/
!tui/**
