*

!LICENSE
!README.md
!compose.yml
!devenv.nix
!secretspec.toml
!.envrc

!conf/
!conf/**
!env.example/
!env.example/**

# orchestrator
!lab/
!lab/README.md
!lab/bun.lock
!lab/src/
!lab/src/**
!lab/package.json
!lab/tsconfig.json
